{% include 'header.html' %}

<h3 class="text-center">Lista de Clientes</h3>
<div class="text-center">
    <a href="/clientes/create" class="btn btn-primary mb-3">Nuevo</a>
</div>
<div class="table-responsive">
    <table class="table">
        <thead class="table table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr class="">
                <td scope="row">{{loop.index}}</td>
                <td>{{cliente[1]}}</td>
                <td>{{cliente[2]}}</td>
                <td>{{cliente[3]}}</td>
                <td>
                    <a href="/clientes/edit/{{cliente['id']}}" class="btn btn-success">Editar</a>
                    <a href="/clientes/borrar/{{ cliente['id'] }}" class="btn btn-danger">Eliminar</a>
                </td>     
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'footer.html' %}